# Virtual environment
.venv

# Temporary files
*.tmp
*.log
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Operating system files
.DS_Store
Thumbs.db
__MACOSX/

# Personal or temporary files
to-do.txt

# Data files
data/bronze/
data/silver/
data/gold/

# Build artifacts
build/
dist/
*.egg-info/